.clothes-index {
  align-itmes: center;

  h1{
    text-align: center;
    padding: 30px;
    margin: 0px;
  }
  .filter_box_style {
    height: 80vh;
    text-align: center;
    padding-bottom: 30px;
  }

  .filter_input_style{
    padding: 15px;
  }

  .filter_input_color {
    background-color: rgba(255, 255, 255, 0.8);
    border: solid 1px;
    border-radius: 2px;
    border-color: rgba(189, 189, 189, 0.8);
    padding: 2px;
    height: 40px;
    width: 200px;
  }

   .filter_input_color:hover {
    background-color: rgba(220, 220, 220, 0.4);

  }

  .row {
    padding-bottom: 40px;
  }

  .col-xs-6{
    padding: 0px;
  }

  .col-md-9 {
    padding-right: 50px;
  }

   .col-md-3 {
    padding-right: 5px;
  }

  .btn {
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .btn_search {
    width: 130px;
  }

  .footer_for_index {
    width: 100%;
    background-color: rgba(240, 240, 240, 0.9);
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
  }

  .btn_add {
    font-size: 20px;
    background-color: rgb(87, 181, 96);
    border: none;
  }

   .btn_add:hover {
    background-color: rgba(87, 181, 96, 0.8);
  }


}
