// Specific CSS for your home-page
.banner {
  color: #eee;
  text-align: center;

  height: calc(100vh + 70px);
  /* if you have a 70px navbar =>  */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#zeubi {
  font-size: 40px;
}

home-h4 {
  font-size: 40px;
}

#Leggo {
  font-size: 25px;
  text-align: center;
}

#banner-typed-text {
  color: #ff5000;
  font-size: 30px;
}

.container {
  width: 100% !important;
}

#map {
  flex: 0 0 350px;
  height: 100vh /* - 70px */;
  top: 0 !important;

}

#card-div {
  height: 100vh;
}

footer{
  background-color:#2b2d2e;
  font-family:'Helvetica',sans-serif;
  background-color: #2a2b2a;
  padding-bottom:40px;
}
h2,h3,h4{
  font-weight:bolder;
}
a{
  text-decoration:none;
}
footer *{
  color:white;
}
select {
  display: block;
  border:none;
  margin-bottom: 16px;
  font-weight:bold;
  padding: 12px 20px;
  min-width: 17em;
  background: #666;
  border-radius: 5px;
}
option{
  padding:5px 0;
  border-radius:5px;
}
.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.seperator{
  display:flex;
  padding-top:40px;
  padding-bottom:40px;
  border-bottom:1px solid #aaa;
}
.seperator:last-of-type{
  border:none;
}
.seperator.column{
  flex-direction:column;
}
.seperator.padded{
  padding-right:100px;
  padding-left:100px;
}
.col-2{
  flex-grow:1.5;
}
.col-1{
  flex-grow:1;
  font-size:0.9em;
}
.col-1 h3{
  font-size:1.3em;
  margin-bottom:1em;
}
.col-1 a{
  display:inline-block;
  margin-bottom:5px;
  font-size:0.9em;
  letter-spacing:0.03em;
}
footer{
}
.text-center{
  text-align:center;
}
.margin-below-1{
  margin-bottom:1em;
}
footer a:hover{
  color:#ccc;
}
.smedialinks i{
  display:inline-block;
  width:16px;
  height:16px;
  font-size:0.9em;
  background:#333;
  padding:8px;
  border:1px solid white;
  border-radius:50%;
  margin-left:20px;
}
.copyright{
  text-align:center;
  color: #878e88;
  font-size:0.9em;
  letter-spacing:0.01;
}
 i:hover{
  opacity:0.8;
  cursor:pointer;
}
@media (max-width:750px){
  .seperator{
    flex-direction:column;
  }
  .col-1,.col-1 h3{
    display:none;
  }
  .col-1.first{
    display:block;
  }
  footer{
    text-align:center;
  }
  select{
    margin-left:auto;
    margin-right:auto;
  }
}
