// Specific CSS for your home-page
.banner {
  color: #eee;
  text-align: center;

  height: calc(100vh + 70px);
  /* if you have a 70px navbar =>  */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#zeubi {
  font-size: 40px;
}

home-h4 {
  font-size: 40px;
}

#Leggo {
  font-size: 25px;
  text-align: center;
}

#banner-typed-text {
  color: #ff5000;
  font-size: 30px;
}

.container {
  width: 100% !important;
}

#map {
  flex: 0 0 350px;
  height: 100vh /* - 70px */;
  top: 0 !important;
}
.footer {
  display: flex;
  justify-content: center;
  height: 20vh;
  background: #000;
  width: 100%;
  margin: 0 auto;
}

#card-div {
  height: 100vh;
}

center {
  display: table;
  width: 100%;
  height: 100vh;
}

#CasseCouilleLeCss {
  text-align: center;
  padding-bottom: 10px;
}

#social-test {

  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  h2 {
    color: #fff;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
  }
  .social {
    padding-left: 0px;
  }
  li {
    color: rgba(167, 146, 129, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid rgba(167, 146, 129, 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease .3s;
    &:hover {
      color: rgba(167, 146, 129, 1);
      border: 1px solid rgba(167, 146, 129, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

