// Specific CSS for your home-page
.banner {
  color: #eee;
  text-align: center;
  margin-top: -70px;
  height: calc(100vh + 70px);
  /* if you have a 70px navbar =>  */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#zeubi {
  font-size: 40px;
}

#typed {
  color: red;

}

#banner-typed-text {
  color: red;
  font-size: 30px;
}

.container {
  width: 100% !important;
}

#map {
  flex: 0 0 350px;
  height: 100vh /* - 70px */;
  top: 0 !important;
}
.footer {
  height: 20vh;
  background-color: black;
}

#card-div {
  height: 100vh;
}

