// Import page-specific CSS files here.
@import "home";
@import "show";
@import "sign_in";
@import "sign_up";
@import "new_clothe";

.title{
  font-size: 50px;
  text-align: center;
}

.title-style {
  font-size: 30px;
  text-align: center;
}

.bannerindex {
  height: 100vh;
  background-size: cover !important;
}

.filter {
  text-align: center;
}

.textwhite{
 color: white;
}

.inputstyle {
  border-radius: 2px;
  background-color: rgba(74, 83, 96, 0.9);
  border: 1px solid white;


}

  .btneo {
    color: gray;
    background: rgba(0,0,0,0);
    border: solid 3px gray;
  }
  .btneo:hover {
    border-color: #8ad89f;
    color: #8ad89f;
    font-weight: bold;
  }
   .btneo:active {
    border-color: #bdbfc2;
    color: #bdbfc2;
  }



