.user-image {
    margin-top: 40px;
    margin-bottom: 40px;
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.box-profile {
    background-color: white;
    width: 700px;
    margin: 0px auto;
    padding: 20px 45px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button-edit-profile {
  padding: 10px 10px;
}

.profile-background-size {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/102303/pexels-photo-102303.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
  background-size: 180vh;
}
