.container {
  margin: 0 auto;
  width: 970px;
}


.box-white {
    background-color: white;
    width: 700px;
    margin: 15px auto;
    padding: 20px 45px;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.back-button {
  margin-top: 30px;
  margin-bottom: 20px;
}

