<div class="container text-center">

  <h1>Choose a clothe to rent!</h1>


  <% @clothes.each do |clothe| %>
    <div class="col-xs-12 col-md-4">
     <%= render 'clothecard', clothe: clothe %>
  </div>
  <% end %>
</div>

<br><br>
  <div class = "container text-center" >
    <p class= "title-style">You can also <%= link_to "add", "clothes/new"%> a clothe </p>
  </div>
