<div class= "container text-center">
<div>
 <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", id: "profile-image" %>
</div>

<h1>Hello <%= @user.first_name %> <%= @user.last_name %> </h1>

Your email adress : <%= @user.email %>

</div>
